@model string[]

@if (User.Identity.IsAuthenticated)
{
  <a asp-controller="Account" asp-action="Logout">Logout</a>
  <a asp-action="Privacy">Privacy</a>
  @if (User.IsInRole("Admin")) {
    <span>Admin</span>
  } else {
    <span>Visitor</span>
  }
}

<h1>Client App!</h1>

<h2>Jobs</h2>

@foreach (var job in Model)
{
    <div>@job</div>
}
